body{
    background: #FFFFFF;
    justify-content: space-evenly;
    background: linear-gradient(90deg,#08032b ,#282860 55% ,#08032b);
    transition: background-color 0.5s ease;
}

/*  top bar */
.nav_bar{
    background: linear-gradient(45deg,#bba94e 55%,#11e8e8 5%,#4ee000);
    color: rgb(66, 82, 96);
    justify-content: space-between;
    display: flex;
    height:2em;
    padding: 1em;
    border: 2px groove rgba(255, 246, 229, 0.768) ;
    vertical-align: middle;
}

.nav_right,.nav_left{
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    height: max-content;
    vertical-align: middle;
    color:rgb(22, 26, 81);
}
select{
    width:15px;
    height:20px;
    background-color: #bba94e;
    color: rgb(26, 73, 114);
    border: 0px;
}
h3{
    padding-right:2em;
    padding-left:2em
}
.user{
    height: 35px;
    border-radius: 50%;
}
/* for main container */
.icon{
    height: 20px;
    width: 20px;
}
.main_container{
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 1050px;
    justify-content: space-evenly;
   
}
.model{
    margin-right: 1em;
    margin-bottom: 3em;
    border-radius: 20px;
    padding: 0px;
    border: 2px dashed black;
    background-image: url(tesla.jpg);
    width: 200%;
}

.sub-division{

    display: flex;
    overflow: hidden;
    /* box-shadow: 5px 10px 30px rgba(63, 251, 1, 0.452); */
}
.calculator,
.charging,
.specifics,
.News{
    width: 100%;
    background-color: #FAF9F6;
    
    box-shadow: 0.8em 0.4em 3em rgb(40, 46, 79);
    border-radius: 20px;
    margin-bottom:0.5em; 
    padding: 1em 2em;
    text-align: center;
    border: 2px dashed black;
}
.calculator,
.charging{

    flex-direction: row; 
    flex-wrap:nowrap;
}
.calculator{
    margin-right: 1em;
}
span{
    text-align: left;
    text-indent: 1em;
    font-size: 20px ;
}
.cal_button{
    margin-top:1em;
}
.specifics{
    margin-bottom: 3em;
}
/* for page ::view-transition */
.page-container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s ease; /* Adding opacity transition */
  }
  
  .transition-link {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Adding background color and transform transition */
  }
  
  .transition-link:hover {
    background-color: #2980b9;
    transform: scale(1.1); /* Scaling the link on hover */
  }
  
  /* Styling for the transition effect */
  body.fade-out {
    opacity: 0;
  }